* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
}

:root {
  --main-color:aqua;
  --bg-color:white;
  --font-color:rgb(255, 255, 255);
  --sfont-color:rgb(0, 0, 0);
  --border-color:white;
  --user-rating-star-color:yellow;
}

html {
  font-size: 62.5%;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: unset;
  position: fixed;
  z-index: 1000;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.header .header-content {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: unset;
  font-size: 1.6rem;
  padding: 3rem 0rem;
}

.header-content a {
  color: var(--font-color);
}

.header-content nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: unset;
  gap: 6rem;
}

.header-content .icons-container {
  color: var(--font-color);
}

.icons-container .dot-open {
  display: none;
}

.home {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.805);
  z-index: 5;
}

.intro {
  color: var(--font-color);
  z-index: 10;
}

.intro h1 {
  font-size: 6rem;
  text-align: center;
}

.slider-container {
  width: 80%;
  height: 15rem;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: unset;
  flex-direction: unset;
  position: absolute;
  bottom: 5rem;
}

.slider-container .sl-card {
  border: 2px solid rgba(128, 128, 128, 0.189);
  height: 100%;
  width: 28%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 1rem;
}

.sl-card .content {
  width: 50%;
  height: 60%;
  padding-top: 2rem;
  padding-left: 1rem;
  color: var(--font-color);
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: unset;
  flex-direction: column;
}

.content .rating {
  color: var(--user-rating-star-color);
}

.sl-card img {
  height: 18rem;
  width: 20rem;
  left: 14rem;
  top: -8rem;
}

.sl-card .btn {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 1px solid var(--font-color);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: transparent;
  color: var(--font-color);
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */