@import "./_flex-box.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

:root
{
    --main-color:aqua;
    --bg-color:white;
    --font-color:rgb(255, 255, 255);
    --sfont-color:rgb(0, 0, 0);

    --border-color:white;
    --user-rating-star-color:#FFE234;
}

body
{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

html
{
    font-size: 62.5%;
    // overflow-x: hidden;
    // scroll-padding-top: 5.5rem;
}

// section
// {
//     background: #00092fd6;
//     // border: 2px solid red;
// }

// header [[[[[[  start ]]]]]]

.header
{
    width: 100%;
    @include flexbox(flex,center,center,unset);
    position: fixed;
    z-index: 1000;
    // border: 2px solid red;
    backdrop-filter: blur(5px);
}

.header .header-content
{
    width: 90%;
    @include flexbox(flex,space-between,center,unset);
    font-size: 1.6rem;
    padding: 3rem 0rem;

}

.header-content a
{
    color: var(--font-color);
}

.header-content nav ul
{
    @include flexbox(flex,space-between,center,unset);
    gap: 6rem;
}


ul li a.active
{
    color: aqua;
}

.header-content .icons-container
{
    color: var(--font-color);
}

.icons-container .dot-open                   ////rememeber to toggle
{
    display: none;
}

// header [[[[[[  end ]]]]]]


// Cart section [[[[[[  start ]]]]]]
.cart-container
{
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    z-index: 100;
    right: 0;
    // height: 60%;
    // width: 25%;
    top: 11%;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    gap: 3rem; 
    opacity: 0;
    pointer-events: none;
    height: 0;
    width:0%;
    transition: .3s linear;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
}

.cart-container.cart-show-hide
{
    opacity: 1;
    pointer-events: auto;
    height: 60%;
    width: 25%;
}

.cart-container #close-icon
{
    color: var(--font-color);
    font-size: 3.3rem;
    position: absolute;
    cursor: pointer;
}

.cart-container h1
{
    text-align: center;
    color: var(--font-color);
    margin-top: .8rem;
}

.cart-container .cart-content
{
    @include flexbox(flex,unset,unset,column);
    gap: 1rem;
    height: 70%;
    overflow-y: scroll;
    position: relative;
}

.cart-container .cart-content::-webkit-scrollbar
{
    opacity: 0;
}

.cart-content .cart-foods
{
    @include flexbox(flex,space-between,center,unset);
    border: 1px solid gray;
}

.cart-foods .cart-food-details
{
    @include flexbox(flex,space-between,center,unset);
    color: var(--font-color);
    width: 70%;
}

.cart-food-details img
{
    height: 100%;
    width: 30%;
    border-radius: 50%;
    //border: 2px solid red;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.cart-food-details .cart-food-name
{
    font-size: 1.6rem;
    width: 40%;
    text-align: center;
}

.cart-food-details .cart-food-price
{
    font-size: 1.6rem;
}

.cart-foods .food-quantity
{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    color: var(--font-color);
    gap: .5rem;
    // position: absolute;
    right: 5%;
    border: 2px solid rgba(0, 255, 255, 0.397);
    width: 21%;
    // text-align: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  
}

.food-quantity .quantity
{
    border: 1px solid var(--main-color);
    padding: 0rem .5rem;
    color: var(--sfont-color);
    background: var(--main-color);
    cursor: pointer;
    transition: .3s linear;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
}

// .food-quantity .quantity:hover
// {
//     color: var(--sfont-color);
//     background: var(--main-color);
// }

.cart-container .cart-order
{
    color: var(--font-color);
    // border:2px solid red;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
}

.cart-order .Buy-Btn
{
    background:var(--main-color);
    color: var(--sfont-color);
    border: 1px solid gray;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    padding: .5rem 1rem;
    cursor: pointer;
}

// Cart section [[[[[[   end  ]]]]]]

// home section [[[[[[  start ]]]]]]


.bg
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -2;
}

.heading
{
    // z-index: 100;
    color: var(--font-color);
    font-size: 4rem;
    text-align: center;
}

.home
{
    position: relative;
    height: 100vh;
    overflow: hidden;
    @include flexbox(flex,center,center,column);
}

.home::before
{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.805);
    z-index: 5;
}

.intro
{
    color: var(--font-color);
    z-index: 100;
}

.intro h1
{
    font-size: 6rem;
    text-align: center;
}

.intro-dishes-container
{
    // border: 2px solid aqua;
    width: 80%;
    height: 15rem;
    z-index: 10;
    @include flexbox(flex,space-between,unset,unset);
    position: absolute;
    bottom: 5rem;
    
}

.intro-dishes-container .intro-dishes-card
{
    border: 2px solid rgba(128, 128, 128, 0.189);
    height: 100%;
    width: 28%;
    backdrop-filter: blur(5px);
    border-radius: 1rem;
}

.intro-dishes-card .content
{
    // border: 2px solid red;
    width: 50%;
    height: 60%;
    padding-top: 2rem;
    padding-left: 1rem;
    color: var(--font-color);
    font-size: 1rem;
    @include flexbox(flex,space-between,unset,column);
}

.content .rating
{
    color: var(--user-rating-star-color);
}

.intro-dishes-card img
{
    height: 18rem;
    width: 20rem;
    position: absolute;
    left: 14rem;
    top: -8rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.intro-dishes-card .btn
{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    padding: .5rem 1rem;
    border-radius: 1rem;
    border: 1px solid var(--font-color);
    backdrop-filter: blur(10px);
    background: transparent;
    color: var(--font-color);
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    cursor: pointer;
}
// home section [[[[[[  end ]]]]]]

// dish section [[[[[[  start ]]]]]]
.dishes
{
    min-height: 100vh;
    @include flexbox(flex,center,unset,unset);
    position: relative;
}

// .dishes img 
// {
//     z-index: -2;
// }

.dishes::before
{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.805);
    z-index:-1;
}

.dishes .dishes-container
{
    // border: 2px solid aqua;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    // border: 2px solid red;
}

.dishes-container .dishes-list
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.dishes-list .dishes-card
{
  border: 2px solid gray;
  position: relative;
  height: 25rem;
  width: 22rem;
  @include flexbox(flex,end,center,column);
  //padding: 5rem 0rem;
  backdrop-filter: blur(10px);
  color: var(--font-color);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  overflow: hidden;
}

.dishes-card img
{
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%);
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    // border: 2px solid aqua;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    z-index: 10;
}

.dishes-card h1
{
    position: absolute;
    bottom: 20%;
}

.dishes-card h1:nth-child(2)
{
    bottom: 30%;
}

.btn
{
    padding: .5rem .8rem;
    background: transparent;
    color: var(--font-color);
    cursor: pointer;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    border: 2px solid var(--font-color);
    transition: .3s linear;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
}

.btn:hover
{
    background: var(--main-color);
    color: var(--sfont-color);
    border-color: var(--sfont-color);
}

.ingradients
{
    display: flex;
    position: absolute;
    top: -100%;
    z-index: 100;
    background: rgba(0, 0, 0, 0.815);
    width: 100%;
    opacity: 0;
    height: 100%;
    transition: .3s linear;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
}

.ingradients.open-close
{
    opacity: 1;
    top: -0%;
}

.ingradients h1
{
    top: 2%;
    text-align: center;
    width: 100%;
}

.ingradients .ingradientsList
{
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    gap: 1rem;
    // border: 2px solid red;
    font-size: 1.4rem;
    height: 65%;
    overflow-y: scroll;
    z-index: 100;padding: 0rem 0rem 0rem 3rem;
}

.ingradients .ingradientsList::-webkit-scrollbar
{
    //opacity: 0;
    width: .5rem;
}

::-webkit-scrollbar-track
{
    background: black;
    // opacity: 0;
}

::-webkit-scrollbar-thumb
{  
    background: aqua;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.ingradients .ingradientsList li
{
    list-style:decimal;
}

.viewdetailsBtn
{
    position: absolute;
    bottom: 5%;
    left: 5%;
    z-index: 100;
    width: 10rem;
}

.addToCartBtn
{
    position: absolute;
    bottom: 5%;
    right: 5%;
    z-index: 100;
}

// .dishes-list .dishes-card:hover::before
// {
//     position: absolute;
//     content: '';
//     height: 100%;
//     width: 100%;
//     background: rgba(0, 0, 0, 0.847);
//     backdrop-filter: blur(10px);
//     // opacity: .5;
//     z-index: 100;
// }

// dishes section [[[[[[   end  ]]]]]]

// Review section [[[[[[   Start  ]]]]]]
.review
{
    position: relative;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.review::before
{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.805);
    z-index: -1;
}

.review .review-content
{
    // border: 2px solid rgb(102, 0, 255);
    width: 80vw;
    @include flexbox(flex,center,center,column);
    gap: 1.5rem;
}

.review-content .review-filter
{
    width: 100%;
}

.review-filter select
{
    cursor: pointer;
    font-size: 1.5rem;
    width: 12rem;
    padding: .5rem;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    background: transparent;
    color: var(--font-color);
    backdrop-filter: blur(5px);
}

select option
{
    background-color:black;
}

// select option[value="1"]
// {
//     backdrop-filter: blur(5px);
//     color: var(--sfont-color);
//     background: transparent;
// }
// select option[value="2"]
// {
//     backdrop-filter: blur(5px);
//     color: var(--sfont-color);
//     background: #0a56edaf;
// }

.review-content .user-reviews-container
{
    display: flex;
    gap:3rem;
    width: 100%;
    // border: 2px solid red;
}

.user-reviews-container .review-card
{
    border: 2px solid aqua;
    color: var(--font-color);
    padding: 1rem;
    @include flexbox(flex,center,start,column);
    gap: 1rem;
    height: 25rem;
    backdrop-filter: blur(5px);
    cursor: pointer;
}

.review-card .user-details-review
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border: 2px solid red;
    width: 100%;
}

.user-details-review .left-user-details .userName
{
    text-transform: capitalize;
}

.user-details-review .left-user-details .review-img
{
    height: 5rem;
    width: 5rem;
    object-fit: cover;
    // border: 2px solid red;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.user-details-review .rating .rev-col-star
{
    color: var(--user-rating-star-color);
}

.review-card .user-opinion
{
    // border: 2px solid red;
    width: 100%;
}

.review-card .user-opinion textarea
{
    background: transparent;
    color: var(--font-color);
    border: none;
    cursor: pointer;
    text-align:justify;
    width: 100%;

}

.review-content .bottom-review-container
{
    // border: 2px solid red;
    width: 50vw;
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-review-container .review-btn
{
    border: 2px solid rgb(0, 0, 0);
    background: aqua;
    color: black;
    text-align: center;
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.bottom-review-container .particular-user-review
{
    // border: 2px solid aqua;
    display: flex;
    // justify-content: space-between;
    gap: 7rem;
    align-items: center;
    width: 70%;
    color: var(--font-color);
    font-size: 2rem;
    cursor: pointer;
}

.particular-user-review textarea
{
   background: transparent;
   backdrop-filter: blur(10px);
   color: var(--font-color);
   border: 2px solid var(--main-color);
   box-shadow: 0rem 0rem .5rem var(--main-color);
   padding: .5rem;
   border-radius: 1rem;
   -webkit-border-radius: 1rem;
   -moz-border-radius: 1rem;
   -ms-border-radius: 1rem;
   -o-border-radius: 1rem;
}

.particular-user-review .stars
{
    transition: .3s linear;
    //z-index: 100;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
}

.particular-user-review .stars.toggleActiveStar
{
    color: var(--user-rating-star-color);
    // z-index: 100;
}

.mySwiper
{
    overflow: hidden;
}

// Review section [[[[[[    end   ]]]]]]
