@import "./_flex-box.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

:root
{
    --main-color:aqua;
    --bg-color:white;
    --font-color:rgb(255, 255, 255);
    --sfont-color:rgb(0, 0, 0);

    --border-color:white;
    --user-rating-star-color:#FFE234;
}

body
{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

html
{
    font-size: 62.5%;
    // overflow-x: hidden;
    // scroll-padding-top: 5.5rem;
}

// header [[[[[[  start ]]]]]]

.header
{
    width: 100%;
    @include flexbox(flex,center,center,unset);
    position: fixed;
    z-index: 997;
    // border: 2px solid red;
    backdrop-filter: blur(5px);
}

.header .header-content
{
    width: 95%;
    @include flexbox(flex,space-between,center,unset);
    font-size: 1.6rem;
    padding: 2rem 0rem;

}

.header-content a
{
    color: var(--font-color);
}

.header-content nav ul
{
    @include flexbox(flex,space-between,center,unset);
    gap: 4rem;
}


ul li a.active
{
    color: aqua;
}


#log-in-Btn-open
{
  color: var(--font-color);
  padding: .5rem 1rem;
  background: transparent;
  border: 2px solid white;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  cursor: pointer;
  transition: .2s linear;
  -webkit-transition: .2s linear;
  -moz-transition: .2s linear;
  -ms-transition: .2s linear;
  -o-transition: .2s linear;
}

#log-in-Btn-open:hover
{
    background: aqua;
    color: var(--sfont-color);
    backdrop-filter:blur(10px);
    filter: drop-shadow(0rem 0rem 1rem aqua);
    -webkit-filter: drop-shadow(0rem 0rem 1rem aqua);
}

/**************   Log In and Sign in section  Start   ****************/
//******************  [Log-In] section [[[[[[[[  Start ]]]]]]]]]]]   **********************
body.stop-scrooling
{
    height: 100vh;
    overflow: hidden;
}
.log-in-sign-in-form
{
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid var(--main-color);
    border-radius: 3rem;
    height: 45vh;
    width: 25vw;
    padding:2rem 1rem;
    backdrop-filter: blur(10px);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    //display: none;
    z-index: 1000;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    transition: .3s linear;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
    pointer-events: none;
    scale: 0;
    opacity: 0;
    top: -50%;
}

.log-in-sign-in-form.active
{
    display: block;
    opacity: 1;
    scale: 1;
    pointer-events: auto;
    top: 50%;
}

.log-in-sign-in-form #closeBtn
{
    // border: 2px solid var(--sfont-color);
    border-radius: 50%;
    position: absolute;
    right: 2%;
    font-size: 3.5rem;
    color: red;
    font-weight: 600;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: .2s linear;
    -webkit-transition: .2s linear;
    -moz-transition: .2s linear;
    -ms-transition: .2s linear;
    -o-transition: .2s linear;
}

.log-in-sign-in-form #closeBtn:hover
{
    color: var(--main-color);
    background: black;
}


.log-in-sign-in-form .form-container
{
    //border: 2px solid aqua;
    height: 100%;
    @include flexbox(flex,unset,center,column);
    gap: 3.5rem;
    display: none;
    transition: .3s linear;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
}

.form-container.active
{
    display: flex;
}

.form-container .form-heading
{
    color: var(--main-color);
    font-size: 2.8rem;
    text-shadow: 0rem 0rem .5rem var(--main-color);
}

.form-container .form-details
{
    position: relative;
    height: 100%;
    gap: 2.3rem;
    width: 100%;
    @include flexbox(flex,unset,unset,column);
}

.form-details .input-container
{
    @include flexbox(flex,space-between,center,unset);
}

label
{
    color: var(--font-color);
    font-size: 1.5rem;
}

input
{
    background: transparent;
    padding: .3rem;
    width: 20rem;
    border: 2px solid var(--main-color);
    color: var(--font-color);
}

input:focus
{
    outline: none;
}

.form-details .form-submitBtn-container
{
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}

// .form-submitBtn-container .form-submitBtn
// {
//     padding: .3rem 1rem;
//     position: absolute;
//     bottom: 5rem;
//     left: 50%;
//     translate: -50%;
//     cursor: pointer;
//     background: var(--main-color);
//     border-radius: .8rem;
//     -webkit-border-radius: .8rem;
//     -moz-border-radius: .8rem;
//     -ms-border-radius: .8rem;
//     -o-border-radius: .8rem;
//     color: var(--sfont-color);
//     border: 2px solid var(--sfont-color);
//     font-weight: 400;
// }

.form-submitBtn-container .form-submitBtn:hover
{
    border: 2px solid var(--font-color);
    box-shadow: 0rem 0rem .5rem var(--main-color);
}

.form-details .form-desc
{
    position: absolute;
    bottom: 5%;
    text-align: center;
    width: 100%;
    color: var(--font-color);
    display: flex;
    gap: 1rem;
    // border: 2px solid red;
    justify-content: center;
    font-size: 1.5rem;
}

.form-desc .user-toggle
{
    color: red;
    cursor: pointer;
    transition: .2s linear;
    -webkit-transition: .2s linear;
    -moz-transition: .2s linear;
    -ms-transition: .2s linear;
    -o-transition: .2s linear;
}

.form-desc .user-toggle:hover
{
    text-decoration: underline;
}
//******************  [Sign-Up] section [[[[[[[[   Start  ]]]]]]]]]]]   **********************

.sign-Up.active .form-details
{
    gap: 1rem;
}

//******************  [Sign-Up] section [[[[[[[[    End   ]]]]]]]]]]]   **********************
/**************   Log-In and Sign-In section  End   ****************/

.header-content .icons-container
{
    color: var(--font-color);
}

.icons-container .dot-open                   ////rememeber to toggle
{
    display: none;
}

// header [[[[[[  end ]]]]]]


// Cart section [[[[[[  start ]]]]]]
.cart-container
{
    border: 2px solid rgb(255, 255, 255);
    position: fixed;
    z-index: 100;
    right: 0;
    top: 11%;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    gap: 3rem; 
    opacity: 0;
    pointer-events: none;
    height: 0;
    width:0%;
    transition: .3s linear;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
}

.cart-container.cart-show-hide
{
    opacity: 1;
    pointer-events: auto;
    height: 60%;
    width: 25%;
}

.cart-container #close-icon
{
    color: var(--font-color);
    font-size: 3.3rem;
    position: absolute;
    cursor: pointer;
}

.cart-container h1
{
    text-align: center;
    color: var(--font-color);
    margin-top: .8rem;
}

.cart-container .cart-content
{
    @include flexbox(flex,unset,unset,column);
    gap: 1rem;
    height: 70%;
    overflow-y: scroll;
    position: relative;
}

.cart-container .cart-content::-webkit-scrollbar
{
    opacity: 0;
}

.cart-content .cart-foods
{
    @include flexbox(flex,space-between,center,unset);
    border: 1px solid gray;
}

.cart-foods .cart-food-details
{
    @include flexbox(flex,space-between,center,unset);
    color: var(--font-color);
    width: 70%;
}

.cart-food-details img
{
    height: 100%;
    width: 30%;
    border-radius: 50%;
    //border: 2px solid red;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.cart-food-details .cart-food-name
{
    font-size: 1.6rem;
    width: 40%;
    text-align: center;
}

.cart-food-details .cart-food-price
{
    font-size: 1.6rem;
}

.cart-foods .food-quantity
{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    color: var(--font-color);
    gap: .5rem;
    // position: absolute;
    right: 5%;
    border: 2px solid rgba(0, 255, 255, 0.397);
    width: 21%;
    // text-align: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  
}

.food-quantity .quantity
{
    border: 1px solid var(--main-color);
    padding: 0rem .5rem;
    color: var(--sfont-color);
    background: var(--main-color);
    cursor: pointer;
    transition: .3s linear;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
}

// .food-quantity .quantity:hover
// {
//     color: var(--sfont-color);
//     background: var(--main-color);
// }

.cart-container .cart-order
{
    color: var(--font-color);
    // border:2px solid red;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
}

.cart-order .buyAllBtn
{
    background:transparent;

    color: var(--font-color);
    border: 1px solid gray;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    padding: .5rem 1.2rem;
    cursor: pointer;
    transition: .3s linear;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
}

.cart-order .buyAllBtn:hover
{
    background: var(--main-color);
    color:var(--sfont-color);
    box-shadow: 0rem 0rem 1rem var(--main-color);
}

// Cart section [[[[[[   end  ]]]]]]

// home section [[[[[[  start ]]]]]]


.bg
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -2;
}

.heading
{
    // z-index: 100;
    color: var(--font-color);
    font-size: 4rem;
    text-align: center;
}

.home
{
    position: relative;
    height: 100vh;
    overflow: hidden;
    @include flexbox(flex,center,center,column);
}

.home::before
{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.805);
    z-index: 5;
}

.intro
{
    color: var(--font-color);
    z-index: 100;
}

.intro h1
{
    font-size: 6rem;
    text-align: center;
}

.intro-dishes-container
{
    // border: 2px solid aqua;
    width: 80%;
    height: 15rem;
    z-index: 10;
    @include flexbox(flex,space-between,unset,unset);
    position: absolute;
    bottom: 5rem;
    
}

.intro-dishes-container .intro-dishes-card
{
    border: 2px solid rgba(128, 128, 128, 0.189);
    height: 100%;
    width: 28%;
    backdrop-filter: blur(5px);
    border-radius: 1rem;
}

.intro-dishes-card .content
{
    // border: 2px solid red;
    width: 50%;
    height: 60%;
    padding-top: 2rem;
    padding-left: 1rem;
    color: var(--font-color);
    font-size: 1rem;
    @include flexbox(flex,space-between,unset,column);
}

.content .rating
{
    color: var(--user-rating-star-color);
}

.intro-dishes-card img
{
    height: 15rem;
    width: 15rem;
    position: absolute;
    left: 14rem;
    top: -8rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.intro-dishes-card .btn
{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    padding: .5rem 1rem;
    border-radius: 1rem;
    border: 1px solid var(--font-color);
    backdrop-filter: blur(10px);
    background: transparent;
    color: var(--font-color);
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    cursor: pointer;
}
// home section [[[[[[  end ]]]]]]

// dish section [[[[[[  start ]]]]]]
.dishes
{
    min-height: 100vh;
    @include flexbox(flex,center,unset,unset);
    position: relative;
}

// .dishes img 
// {
//     z-index: -2;
// }

.dishes::before
{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.805);
    z-index:-1;
}

.dishes .dishes-container
{
    // border: 2px solid aqua;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    // border: 2px solid red;
}

.dishes-container .dishes-list
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.dishes-list .dishes-card
{
  border: 2px solid gray;
  position: relative;
  height: 30rem;
  width: 25rem;
  @include flexbox(flex,space-between,center,column);
  //padding: 5rem 0rem;
  padding: 1rem 1rem;
  backdrop-filter: blur(10px);
  color: var(--font-color);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  overflow: hidden;
}

.dishes-card img
{
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.btn
{
    padding: .5rem .8rem;
    background: transparent;
    color: var(--font-color);
    cursor: pointer;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    border: 2px solid gray;
    transition: .3s linear;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
}

.btn:hover
{
    background: var(--main-color);
    color: var(--sfont-color);
    border-color: var(--sfont-color);
}

.ingradients
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: -100%;
    z-index: 100;
    background: rgba(0, 0, 0, 0.815);
    width: 100%;
    opacity: 0;
    height: 100%;
    transition: .3s linear;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
}

.ingradients.open-close
{
    opacity: 1;
    top: 3%;
}

.ingradients h1
{
    top: 2%;
    text-align: center;
    width: 100%;
}

.ingradients .ingradientsList
{
    display: flex;
    flex-direction: column;
    // margin-top: 4rem;
    gap: 1rem;
    font-size: 1.4rem;
    height: 58%;
    width: 100%;
    overflow-y: scroll;
    z-index: 100;
   padding-left: 3rem;
}

.ingradients .ingradientsList::-webkit-scrollbar
{
    //opacity: 0;
    width: .5rem;
}

::-webkit-scrollbar-track
{
    background: black;
    // opacity: 0;
}

::-webkit-scrollbar-thumb
{  
    background: aqua;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.ingradients .ingradientsList li
{
    list-style:decimal;
}

.dishes-card .dishes-card-btns
{
    gap: 1rem;
    @include flexbox(flex,center,unset,column);
    z-index: 100;
    width: 100%;
}

.dishes-card-btns .dishes-details-cart-btns
{
    display: flex;
    justify-content: space-between;
    gap: .5rem;
}

.dishes-details-cart-btns .viewdetailsBtn
{
    width: 50%;
}
.dishes-details-cart-btns .addToCartBtn
{
    width: 50%;
}

.dishes-card-btns .buyNowBtn
{
    font-weight: 600;
}


// .addToCartBtn
// {
//     position: absolute;
//     bottom: 5%;
//     right: 5%;
//     z-index: 100;
// }

// .dishes-list .dishes-card:hover::before
// {
//     position: absolute;
//     content: '';
//     height: 100%;
//     width: 100%;
//     background: rgba(0, 0, 0, 0.847);
//     backdrop-filter: blur(10px);
//     // opacity: .5;
//     z-index: 100;
// }

// dishes section [[[[[[   end  ]]]]]]

// Review section [[[[[[   Start  ]]]]]]
.review
{
    position: relative;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.review::before
{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.805);
    z-index: -1;
}

.review .review-content
{
    // border: 2px solid rgb(102, 0, 255);
    width: 80vw;
    @include flexbox(flex,center,center,column);
    gap: 1.5rem;
}

.review-content .review-filter
{
    width: 100%;
}

.review-filter select
{
    cursor: pointer;
    font-size: 1.5rem;
    width: 12rem;
    padding: .5rem;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    background: transparent;
    color: var(--font-color);
    backdrop-filter: blur(5px);
}

select option
{
    background-color:black;
}

// select option[value="1"]
// {
//     backdrop-filter: blur(5px);
//     color: var(--sfont-color);
//     background: transparent;
// }
// select option[value="2"]
// {
//     backdrop-filter: blur(5px);
//     color: var(--sfont-color);
//     background: #0a56edaf;
// }

.review-content .user-reviews-container
{
    display: flex;
    gap:3rem;
    width: 100%;
    height: 35%;
}

.user-reviews-container .review-card
{
    border: 2px solid aqua;
    color: var(--font-color);
    padding: 1rem;
    @include flexbox(flex,center,start,column);
    gap: 1rem;
    height: 25rem;
    backdrop-filter: blur(5px);
    cursor: pointer;
}

.review-card .user-details-review
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.user-details-review .left-user-details .userName
{
    text-transform: capitalize;
}

.user-details-review .left-user-details .review-img
{
    height: 5rem;
    width: 5rem;
    object-fit: cover;
    // border: 2px solid red;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.user-details-review .rating_dates
{
    text-align: center;
}

.user-details-review .rating 
{
    margin-bottom: .5rem;
}

.user-details-review .rating .rev-col-star
{
    color: var(--user-rating-star-color);
}

.review-card .user-opinion
{
    // border: 2px solid red;
    width: 100%;
}

.review-card .user-opinion textarea
{
    background: transparent;
    color: var(--font-color);
    border: none;
    cursor: pointer;
    text-align:justify;
    width: 100%;
    resize: none;
}

// .review-content .bottom-review-container
// {
//     // width: 50vw;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     gap: 5rem;
//     // border: 2px solid red;

// }

// .bottom-review-container .review-btn
// {
//     border: 2px solid rgb(0, 0, 0);
//     background: aqua;
//     color: black;
//     text-align: center;
//     padding: .5rem 1rem;
//     cursor: pointer;
//     border-radius: 1rem;
//     -webkit-border-radius: 1rem;
//     -moz-border-radius: 1rem;
//     -ms-border-radius: 1rem;
//     -o-border-radius: 1rem;
// }

// .bottom-review-container .particular-user-review
// {
//     gap: 2rem;
//     width: 70%;
//     color: var(--font-color);
//     font-size: 2rem;
//     cursor: pointer;
//     gap: 1rem;
//     display: none;
//     justify-content: center;
//     align-items: center;
// }

// .bottom-review-container .particular-user-review.active
// {
//     display: flex;
// }

// .particular-user-review textarea
// {
//    background: transparent;
//    backdrop-filter: blur(10px);
//    color: var(--font-color);
//    border: 2px solid var(--main-color);
//    box-shadow: 0rem 0rem .5rem var(--main-color);
//    padding: .5rem;
//    border-radius: 1rem;
//    -webkit-border-radius: 1rem;
//    -moz-border-radius: 1rem;
//    -ms-border-radius: 1rem;
//    -o-border-radius: 1rem;
//    resize: none;
// }

// .particular-user-review .rating
// {
//     display: flex;
//     gap: .5rem;
//     // border: 2px solid purple;
// }

// .particular-user-review .stars
// {
//     transition: .1s linear;
//     -webkit-transition: .1s linear;
//     -moz-transition: .1s linear;
//     -ms-transition: .1s linear;
//     -o-transition: .1s linear;
// }

// .particular-user-review .stars.toggleActiveStar
// {
//     color: var(--user-rating-star-color);
//     // z-index: 100;
// }

.mySwiper
{
    overflow: hidden;
}

// Review section [[[[[[    end   ]]]]]]



// <!--******************   Order  section [[[[[[[[[[[[   Start    ]]]]]]]]]]]]   **************-->

.order
{
    position: fixed;
    top: -50rem;
    height: 0;
    width: 100%;
    // height: 100vh;
    // top: 0rem;
    pointer-events: none;
    backdrop-filter: blur(2rem);
    background: transparent;
    z-index: 10000;
    @include flexbox(flex,center,center,unset);
    //opacity: 0;
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
}

.order.active
{
    min-height: 100vh;
    // opacity: 1;
    inset: 0;
    pointer-events: auto;
}

.order #close-icon-order-section
{
    font-size: 4rem;
    position: absolute;
    cursor: pointer;
    top: 2%;
    right: 2%;
    color: var(--main-color);
}

.order .order-container
{
    height: 90%;
    width: 100%;
    @include flexbox(flex,space-between,center,unset);
    padding: 0rem 5rem;
}

.order-container .order-left-container
{
    @include flexbox(flex,center,center,column);
    box-shadow:inset 0rem 0rem 1rem gray;
    padding: 3rem;
    gap: 2rem;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}

.order-left-container h1
{
    font-size: 2rem;
    color: var(--font-color);
}

.order-left-container .ordered-food-Img
{
    height: 20rem;
    width: 20rem;
}

.order-left-container span
{
    font-size: 2rem;
    color: var(--main-color);
}


.order-container .order-form
{
    // border: 2px solid black;
    z-index: 10000;
    min-height: 40rem;
    width: 50rem;
    padding: 3rem;
    box-shadow:inset 0rem 0rem 1rem gray;
    // background: #078b8b20;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.order-form .user-deatils
{
    @include flexbox(flex,unset,unset,column);
    gap: 2rem;
}

.order-form .order-input
{
    font-size: 2rem;
    color: var(--font-color);
    display: flex;
    justify-content: space-between;
}

.order-form textarea
{
    height: 12rem;
    resize: none;
    border: 2px solid var(--main-color);
    background: transparent;
    padding:1rem;
}

.order-form textarea::placeholder
{
    color: rgb(212, 212, 212);
}

// order from cart  *****************
.order-container .cart-all-container
{
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 40rem;
    position: relative;
    box-shadow:inset 0rem 0rem 1rem gray;
    gap: 2rem;
}

.cart-all-container .heading
{
    color: var(--main-color);
    text-align: center;
    font-size: 2rem;
    padding-top: 2rem;
}

.cart-all-container .cart-all-order
{
    height:70%;
    overflow-y: scroll;
}

.cart-all-container .cart-all-order::-webkit-scrollbar
{
    width: .5rem;
    height: 100%;
}

.cart-all-container .cart-all-order::-webkit-scrollbar-track
{
    background: gray;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.cart-all-container .order-cart-list
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
    font-size: 1rem;
    color: var(--font-color);
    gap: 1rem;
    border: 2px solid rgba(128, 128, 128, 0.132);
}

.order-cart-list img
{
    height: 8.5rem;
    width: 8.5rem;
}

.cart-all-container .order-cart-price
{
    color: var(--font-color);
    position: absolute;
    right: 4%;
    bottom: 5%;
}

.order-cart-price .order-total-price
{
    color: var(--main-color);
}




// <!--******************   Order  section [[[[[[[[[[[[    End     ]]]]]]]]]]]]   **************-->

// <!--******************   Animations  section [[[[[[[[[[[[    Start     ]]]]]]]]]]]]   **************-->

.targetBtns
{
    animation: targetBtns 1s linear alternate-reverse infinite;
    -webkit-animation: targetBtns 1s linear alternate-reverse infinite;
}

@keyframes targetBtns
{
   0%,100%{
    box-shadow: 0rem 0rem 0rem var(--main-color);
   }
   50%{
    box-shadow: 0rem 0rem .5rem .2rem var(--main-color);
    
   }
}
// <!--******************   Animations  section [[[[[[[[[[[[    End     ]]]]]]]]]]]]   **************-->


// <!--******************   Loader  section  [[[[[[[[[[[[    Start     ]]]]]]]]]]]]   **************-->
.loader-container
{
    background: rgb(2, 0, 0);
    position: absolute;
    top: 0;
    display: flex;
    @include flexbox(flex,center,center,column);
    height: 100vh;
    width: 100vw;
}

.loader-container.loading-off
{
    display: none;
}

.loader-container #loader
{
    height: 12rem;
    width: 12rem;
}

.loader-container .loading-text 
{
    font-weight: bold;
    font-family: monospace;
    font-size: 2.8rem;
    display: inline-grid;
}
.loader-container .loading-text:before,
.loader-container .loading-text:after 
{
    content:"Loading...";
    color: var(--main-color);
    grid-area: 1/1;
    -webkit-mask:linear-gradient(90deg,#000 50%,#0000 0) 0 50%/2ch 100%;
    animation: loader 1s infinite cubic-bezier(0.5,220,0.5,-220);
    -webkit-animation: loader 1s infinite cubic-bezier(0.5,220,0.5,-220);
}
.loader-container .loading-text:after 
{
    -webkit-mask-position:1ch 50%;
    --s:-1;
}
  
@keyframes loader 
{
    100%{transform: translateY(calc(var(--s,1)*0.1%));}
}
  
main
{
    display: none;
}

main.active
{
    display: block;
}
// <!--******************   Loader  section  [[[[[[[[[[[[     End      ]]]]]]]]]]]]   **************-->
